.se-padding-small {
    padding: 4px 8px!important
}

.se-padding {
    padding: 8px 16px!important
}

.se-padding-large {
    padding: 12px 24px!important
}

.se-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.se-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}

.se-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.se-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}

.se-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.se-top,
.se-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.se-top {
    top: 0
}

.se-bottom {
    bottom: 0
}

.se-bar {
    width: 100%;
    overflow: hidden
}

.se-center .se-bar {
    display: inline-block;
    width: auto
}

.se-bar {
    width: 100%;
    overflow: hidden
}

.se-center .se-bar {
    display: inline-block;
    width: auto
}

.se-bar .se-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.se-bar .se-dropdown-hover,
.w3-bar .se-dropdown-click {
    position: static;
    float: left
}

.se-bar .se-button {
    white-space: normal
}

.se-bar-block .se-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.se-bar-block.se-center .se-bar-item {
    text-align: center
}

.se-block {
    display: block;
    width: 100%
}